{% extends "base.html" %}

{% block content %}
<a href="/form">Add New Job</a>
<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Status</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job[1] }}</td>
            <td>{{ job[2] }}</td>
            <td>{{ job[3] }}</td>
            <td>{{ job[4] }}</td>
            <td>
                <a href="/edit/{{ job[0] }}">Edit</a>
                <a href="/delete/{{ job[0] }}" onclick="return confirm('Are you sure?')">Delete</a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
